<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Scheduler.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Scheduler.Core.Properties.Settings>
      <setting name="IgnoreTimeOffRequests" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RULE_EMPLOYEES_PER_SHIFT_Enabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RULE_MAX_SHIFTS_Enabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Employee_Override_MAX_SHIFTS_Enabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Employee_Override_MIN_SHIFTS_Enabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RULE_MIN_SHIFTS_Enabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NULL_EMPLOYEE_ID" serializeAs="String">
        <value>0</value>
      </setting>
    </Scheduler.Core.Properties.Settings>
  </applicationSettings>
</configuration>